// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$primary-color: #6bc785;
$error-color: #ff754c;
$text-color: #0a0b0c;
$subtext-color: #6a6b6c;
$background-color: #fff;
$background-secondary-color: #fafafa;
$shadow-color: #d3d6dc;
$border-color: rgba(#7f7f7f, 0.15);
$font-color: #7f7f7f7f;